<!DOCTYPE html>
<html>
<head>
	<title>E.C.RC.C</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src="{{url_for('static', filename='min_js/chart.min.js')}}"></script>
	<script src="{{url_for('static', filename='min_js/d3.v7.min.js')}}"></script>
	
	
	<link rel="stylesheet" href="{{url_for('static', filename='min_css/font_awesome_all.min.css')}}" />
	<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
</head>
<body>
	<div id="error-container"></div>
	<div class="header">
		<h1>Eye Controlled RC-Cars</h1> 
		<button class="button button-usb" onclick="reset_usb_button()"><i class="fas fa-undo"></i> Reset USB</button>
	</div>
	<div class="container">
		<div class="chart-container">
			<h2>Car 1</h2>
			<h3 id="subtitle_1"></h3>
			<canvas id="chart1" class="charts"></canvas>
			<div>
				<button onclick="start_button(0)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(0)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(0)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 2</h2>
			<h3 id="subtitle_2"></h3>
			<canvas id="chart2" class="charts" ></canvas>
			<div>
				<button onclick="start_button(1)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(1)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(1)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 3</h2>
			<h3 id="subtitle_3"></h3>
			<canvas id="chart3" class="charts"></canvas>
			<div>
				<button onclick="start_button(2)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(2)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(2)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 4</h2>
			<h3 id="subtitle_4"></h3>
			<canvas id="chart4" class="charts"></canvas>
			<div>
				<button onclick="start_button(3)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(3)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(3)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
				
			</div>
		</div>
		
	</div>
	<script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>