<!DOCTYPE html>
<html>
<head>
	<title>E.C.RC.C</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='favicon.ico')}}">
	<script src="{{url_for('static', filename='min_js/chart.min.js')}}"></script>
	<script src="{{url_for('static', filename='min_js/d3.v7.min.js')}}"></script>
	
	<link rel="stylesheet" href="{{url_for('static', filename='min_css/font_awesome_all.min.css')}}" />
	<style>
		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			grid-gap: 20px;
			/* height: 100vh; */
			width: 118vh;
			margin: 0 auto;
		}

		.header h1, .header button {
			display: inline-block;
  			vertical-align: middle; /* Optional: align elements vertically */
		}

		.header {
			text-align: center;
		}

		.chart-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border: 1px solid #ccc;
		}

		h1, h2, h3 {
			text-align: center;
			margin: 0;
			margin-bottom: 10px;
			font-family: "Montserrat", sans-serif;
		}

		.button {
		margin: 10px;
		padding: 5px 10px;
		border: none;
		border-radius: 5px;
		color: #fff;
		cursor: pointer;
		transition: background-color 0.3s ease;
		}

		.button-usb {
			background-color: #95a5ab;
			margin-bottom: 15px;
		}

		.button-usb-in-errorbox {
			background-color: #fff;
			color: #841c1c;
		}

		.button:hover {
		opacity: 0.8;
		}

		.button i {
		margin-right: 5px;
		}

		.button-start {
		background-color: #28a745;
		}

		.button-stop {
		background-color: #dc3545;
		}

		.button-download {
		background-color: #007bff;
		}

		.button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		}

		charts {
			position: relative; height:40vh; width:80vw
		}

		.error-box {
			position: fixed;
			top: 40px;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 20px;
			background-color: #ff3333;
			color: white;
			border-radius: 5px;
			z-index: 9999;
		}
	</style>
</head>
<body>
	<div id="error-container"></div>
	<div class="header">
		<h1>Eye Controlled RC-Cars</h1> 
		<button class="button button-usb" onclick="reset_usb_button()"><i class="fas fa-undo"></i> Reset USB</button>
	</div>
	<div class="container">
		<div class="chart-container">
			<h2>Car 1</h2>
			<h3 id="subtitle_1"></h3>
			<canvas id="chart1" class="charts"></canvas>
			<div>
				<button onclick="start_button(0)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(0)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(0)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 2</h2>
			<h3 id="subtitle_2"></h3>
			<canvas id="chart2" class="charts" ></canvas>
			<div>
				<button onclick="start_button(1)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(1)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(1)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 3</h2>
			<h3 id="subtitle_3"></h3>
			<canvas id="chart3" class="charts"></canvas>
			<div>
				<button onclick="start_button(2)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(2)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(2)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
			</div>
		</div>
		<div class="chart-container">
			<h2>Car 4</h2>
			<h3 id="subtitle_4"></h3>
			<canvas id="chart4" class="charts"></canvas>
			<div>
				<button onclick="start_button(3)" class="button button-start"><i class="fas fa-play"></i> Start</button>
				<button onclick="stop_button(3)" class="button button-stop"><i class="fas fa-stop"></i> Stop</button>
				<button onclick="download_svg_button(3)" class="button button-download"><i class="fas fa-download"></i> Download SVG</button>
				
			</div>
		</div>
		
	</div>
	

	<script>
				// Initialize the charts
                var chart1 = createChart('chart1', 'Car 1', '#007bff');
		var chart2 = createChart('chart2', 'Car 2', '#dc3545');
		var chart3 = createChart('chart3', 'Car 3', '#ffc107');
		var chart4 = createChart('chart4', 'Car 4', '#28a745');

		// Connect to the EventSource and update the charts with new data
		var source = new EventSource('/stream');
		source.onmessage = function(event) {
			var data = JSON.parse(event.data);
			chart1.data.datasets[0].data = data.value_1;
			chart1.data.labels = [...Array(data.value_1.length).keys()];
			chart1.update();
			chart2.data.datasets[0].data = data.value_2;
			chart2.data.labels = [...Array(data.value_2.length).keys()];
			chart2.update();
			chart3.data.datasets[0].data = data.value_3;
			chart3.data.labels = [...Array(data.value_3.length).keys()];
			chart3.update();
			chart4.data.datasets[0].data = data.value_4;
			chart4.data.labels = [...Array(data.value_4.length).keys()];
			chart4.update();

			if (data.value_1.length > 0) {
				if (data.value_1[data.value_1.length - 1] >= 3) {
					document.getElementById('subtitle_1').innerHTML = '<i class="fas fa-arrow-right"></i>';
				} else if (data.value_1[data.value_1.length - 1] <= 2) {
					document.getElementById('subtitle_1').innerHTML = '<i class="fas fa-arrow-left"></i>';
				} else {
					document.getElementById('subtitle_1').innerHTML = '<i class="fas fa-arrow-up"></i>';
				}
			} else {
				document.getElementById('subtitle_1').innerHTML = 'Stopped';
			}

			if (data.value_2.length > 0) {
				if (data.value_2[data.value_2.length - 1] >= 3) {
					document.getElementById('subtitle_2').innerHTML = '<i class="fas fa-arrow-right"></i>';
				} else if (data.value_2[data.value_2.length - 1] <= 2) {
					document.getElementById('subtitle_2').innerHTML = '<i class="fas fa-arrow-left"></i>';
				} else {
					document.getElementById('subtitle_2').innerHTML = '<i class="fas fa-arrow-up"></i>';
				}
			} else {
				document.getElementById('subtitle_2').innerHTML = 'Stopped';
			}

			if (data.value_3.length > 0) {
				if (data.value_3[data.value_3.length - 1] >= 3) {
					document.getElementById('subtitle_3').innerHTML = '<i class="fas fa-arrow-right"></i>';
				} else if (data.value_3[data.value_3.length - 1] <= 2) {
					document.getElementById('subtitle_3').innerHTML = '<i class="fas fa-arrow-left"></i>';
				} else {
					document.getElementById('subtitle_3').innerHTML = '<i class="fas fa-arrow-up"></i>';
				}
			} else {
				document.getElementById('subtitle_3').innerHTML = 'Stopped';
			}

			if (data.value_4.length > 0) {
				if (data.value_4[data.value_4.length - 1] >= 3) {
					document.getElementById('subtitle_4').innerHTML = '<i class="fas fa-arrow-right"></i>';
				} else if (data.value_4[data.value_4.length - 1] <= 2) {
					document.getElementById('subtitle_4').innerHTML = '<i class="fas fa-arrow-left"></i>';
				} else {
					document.getElementById('subtitle_4').innerHTML = '<i class="fas fa-arrow-up"></i>';
				}
			} else {
				document.getElementById('subtitle_4').innerHTML = 'Stopped';
			}

			
		};

		// Helper function to create a new line chart
		function createChart(canvasId, title, color) {
			var ctx = document.getElementById(canvasId);
			var chart = new Chart(ctx, {
				type: 'line',
				data: {
				labels: ['1', '2', '3', '4', '5', '6'],
				datasets: [{
					label: title,
					data: [0, 1, 5, 3, 2, 3],
					borderWidth: 1,
					borderColor: color,
					fill: false
				}]
				},
				options: {
					responsive: true,
					scales: {
						x: {
							grid: {
								display: false
							},
							ticks: {
								display: false //this will remove only the label
							}
						},
						y: {
							grid: {
								display: false
							},
							ticks: {
								beginAtZero: true
							},
							min: 0,
							max: 5
						}
					},
					layout: {
						padding: 20
					},
					elements: {
						point:{
							radius: 0
						}
					},
					animation: {
					duration: 0
				}

				}
			});
			return chart;
		}

		function reset_usb_button() {
			fetch('/reset_usb_button_pressed')
			.then(response => response.json())
			.then(data => console.log(data));}


		function start_button(val) {
			fetch(`/start_button_pressed?value=${val}`)
			.then(response => response.json())
			.then(data => console.log(data));
		}

		function stop_button(val) {
			fetch(`/stop_button_pressed?value=${val}`)
			.then(response => response.json())
			.then(data => console.log(data));
		}

		function generate_and_download_svg_file(data) {
			if (data.length === 0) {
				alert('SVG not ready yet, wait a few seconds and try again');
				return;
			}
			const width = 500;
			const height = 300;
			const margin = 20;

			const xScale = d3.scaleLinear()
				.domain([0, data.length - 1])
				.range([margin, width - margin]);

			const yScale = d3.scaleLinear()
				.domain([0, d3.max(data)])
				.range([height - margin, margin]);

			const line = d3.line()
				.x((d, i) => xScale(i))
				.y(d => yScale(d))
				.curve(d3.curveMonotoneX);

			const svg = d3.create("svg")
				.attr("viewBox", `0 0 ${width} ${height}`);

			svg.append("path")
				.datum(data)
				.attr("fill", "none")
				.attr("stroke", "steelblue")
				.attr("stroke-width", 1.5)
				.attr("d", line);
			
				const svgString = new XMLSerializer().serializeToString(svg.node());
				const blob = new Blob([svgString], {type: "image/svg+xml"});
				const url = URL.createObjectURL(blob);
				const link = document.createElement("a");
				link.download = "graph.svg";
				link.href = url;
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
				URL.revokeObjectURL(url);
		}
		
		function download_svg_button(val) {
			fetch(`/download_svg_pressed?value=${val}`)
			.then(response => response.json())
			.then(data => generate_and_download_svg_file(data.value));
		}

		var error_box_visible = false;

		function showErrorMessage(msg) {
			error_box_visible = true;
			var errorContainer = document.getElementById("error-container");
			errorContainer.innerHTML = "<div class='error-box'>" + msg + " <button class='button button-usb-in-errorbox' onclick='reset_usb_button()'><i class='fas fa-undo'></i> Reset USB</button></div>";
		}

		function hideErrorMessage() {
			error_box_visible = false;
			var errorContainer = document.getElementById("error-container");
			errorContainer.innerHTML = "";
		}

		var error_source = new EventSource('/error_stream');
		error_source.onmessage = function(event) {
			var data = JSON.parse(event.data);
			if (data.message != "") {
				showErrorMessage(data.message);
			} else if (error_box_visible) {
				hideErrorMessage();
			}
		};

		

	</script>

  </body>
</html>